{% load crispy_forms_tags %}

<div class="modal-dialog modal-fullscreen" role="document">
    <div class="modal-content">
        <form action="{{ request.path }}" method="POST">
                {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title">{% if obj %}Editar{% else %}Nuevo{% endif %} Vehículo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                {{ form|crispy }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-danger"><i class="bi bi-stop-circle"></i> Guardar</button>                
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-octagon-fill"></i>Cancelar</button>
            </div>
        </form>
    </div>
</div>