{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block titulo %}Control de Combustible{% endblock titulo %}</title>

        <link rel="stylesheet" href="{% static 'css/bootstrap_minty.min.css' %}">
        <!-- Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

        <!-- DataTables -->
        <link rel="stylesheet" href="{% static 'plugins/datatable/datatables.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/datatable/Responsive-2.5.0/css/responsive.bootstrap5.min.css' %}">


    </head>
    <body id="body" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
        <!-- Menu -->
        {% include 'fragments/menu.html' %}
        <!-- Fin Menu -->
        <div class="row">
            <div class="container-sm">
                {% block contenido %}        
                {% endblock contenido %}
            </div>
        </div>

        <div id="popup" class="modal fade"></div>

        <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.7/umd/popper.min.js" integrity="sha512-uaZ0UXmB7NHxAxQawA8Ow2wWjdsedpRu7nJRSoI2mjnwtY8V5YiCWavoIpo1AhWPMLiW5iEeavmA3JJ2+1idUg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% comment %} <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script> {% endcomment %}
        <script src="{% static 'js/htmx.js' %}"></script>

        <!-- Datatables -->
        <script src="{% static 'plugins/datatable/datatables.min.js' %}"></script>
        <script src="{% static 'plugins/datatable/Buttons-2.4.2/js/buttons.bootstrap5.min.js' %}"></script>

        <!-- Sweetalert -->
        <script src="{% static 'js/sweetalert.js' %}"></script>

        <script>
            function abrir_modal(url){
                $("#popup").load(url,function(){
                    $(this).modal({
                        backdrop:"static",
                        keyboard:false
                    })
                    $(this).modal('show')
                })
            }
            function cerrar_modal(){
                $("#popup").modal("hide")
                return false
            }
        </script>

        <script>
            let tblName = "{% block dtName %}#tbl{% endblock dtName %}"
            let dtColumns = [{% block dtColumns %}{% endblock dtColumns %}
                {% block dtColumnsActions %}
                    ,
                    { data:null, 
                        className:"dt-center editor-edit text-success",
                        defaultContent: '<i class="bi bi-pencil-square"></i>',
                        orderable:false
                    },
                    { data:null, 
                        className:"dt-center editor-delete text-danger",
                        defaultContent: '<i class="bi bi-trash3"></i>',
                        orderable:false
                    }
                {% endblock dtColumnsActions %}]
            let tblUrl = "{% block dtUrl %}/{% endblock dtUrl %}"
            let dtUrlEdit = "{% block dtUrlEdit %}/{% endblock dtUrlEdit %}"
            let dtUrlDelete = "{% block dtUrlDelete %}/{% endblock dtUrlDelete %}"
            let dtDescDelete = "{% block dtDescDelete %}descript,{% endblock dtDescDelete %}"
        </script>

        {% include "fragments/datatable.html" %}

        {% block js %}        
        {% endblock js %}
        
    </body>
</html>